.right_content_dashboard{
    height: 100vh;
    width: 79%;
    margin-left: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.right_content_dashboard #dashboard_top{
    width: 94%;
    border-radius: 5px;
    height: 8vh;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
}
.right_content_dashboard #dashboard_top #dash_left{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding-left: 2%;
    display: flex;
    align-items: center;
    background: -webkit-linear-gradient(#FD749B, #281AC8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    font-size: 2.7vh
}
.right_content_dashboard #dashboard_top #dash_right{
    width: 50%;
    height: 100%;
    border-radius: 5px;
    padding-left: 2%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.right_content_dashboard #dashboard_top #dash_right #notification_container{
    height: 100%;
    width: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 0%;
}
.right_content_dashboard #dashboard_top #dash_right #notification_container img{
    height: 60%;
    width: auto;
}
.right_content_dashboard #dashboard_top #dash_right #notification_container img:hover{
    cursor: pointer;
    opacity: 60%;
}
.right_content_dashboard #dashboard_top #dash_right #notification_container #notif_count{
    height: 2.5vh;
    width: 2.5vh;
    border: 3px solid white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 1.9vh;
    font-weight: bold;
    color: #ffff;
    margin-left: -20%;
    margin-top: -50%;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container{
    margin-left: 1%;
    padding-right: 5%;
    padding-left: 1%;
    border-radius: 15px;
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container:hover{
    cursor: pointer;
    opacity: 60%;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container #profile_img{
    height: 7vh;
    width: 7vh;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container #name_profile{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 3%;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container #name_profile p{
    margin: 0%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container #name_profile #name_text{
    font-size: 2vh;
    font-weight: bold;
    color: #404040;
}
.right_content_dashboard #dashboard_top #dash_right #profile_container #name_profile #role_text{
    font-size: 1.8vh;
    color: #8b8b8b;
    white-space: nowrap;
}




.right_content_dashboard #profile_content{
    width: 94%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
}
.right_content_dashboard #profile_content #left_profile{
    width: 62%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right_content_dashboard #profile_content #left_profile #layer1{
    width: 100%;
    height: 41%;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    display: flex;
}
.right_content_dashboard #profile_content #left_profile #layer1 #left_layer1{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container{
    height: 26vh;
    width: auto;
    margin-right: 3%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container #profile_photo{
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    border: 2px solid #8de2e7;
}
.right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container #file_icon{
    height: 5vh;
    width: auto;
    margin-left: -22%;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #name_text_profile{
    font-size: 4vh;
    font-weight: bold;
    margin: 0%;
    margin-bottom: 2%;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
    margin-left: 5%;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #txt_cont{
    display: flex;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #l_text{
    width: auto;
    height: auto;
    margin-left: 5%;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #l_text p{
    margin: 0%;
    font-size: 2.3vh;
    font-family: 'Poppins', sans-serif;
    margin-top: 2vh;
    color: #565555;
    white-space: nowrap;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #r_text{
    width: auto;
    height: auto;
}
.right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #r_text p{
    margin: 0%;
    font-size: 2.3vh;
    font-family: 'Poppins', sans-serif;
    margin-top: 2vh;
    color: black;
    margin-left: 5%;
}


.right_content_dashboard #profile_content #left_profile #layer2{
    width: 100%;
    height: 56%;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
.right_content_dashboard #profile_content #left_profile #layer2 #edit_pass_header{
    height: 9vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #565555;
}
.right_content_dashboard #profile_content #left_profile #layer2 #edit_pass_header img{
    height: 4vh;
    margin-right: 1.5%;
    width: auto;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont{
    height: 6vh;
    width: 100%;
    margin-bottom: 3%;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container{
    height: 100%;
    width: 75%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3vh;
    color: #565555;
    white-space: nowrap;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div{
    width: 60%;
    height: 100%;
    border: 1px solid rgb(206, 206, 206);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #f8f6f6;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div input{
    height: 98%;
    width: 85%;
    border: none;
    background-color: transparent;
    text-indent: 15px;
    font-size: 2.3vh;
    font-family: 'Poppins', sans-serif;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div img{
    margin-left: 2%;
    height: 55%;
    width: auto;
}
.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div #show_pass1,.right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div #show_pass2, .right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div #show_pass3{
    display: none;
}
.right_content_dashboard #profile_content #left_profile #layer2 #validation_password{
    margin-top: -2%;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
.right_content_dashboard #profile_content #left_profile #layer2 #validation_password img{
    height: 70%;
    width: auto;
    margin-right: 1.5%;
}
.right_content_dashboard #profile_content #left_profile #layer2 #validation_password span{
    font-size: 1.9vh;
    font-family: 'Poppins', sans-serif;
    color: rgb(250, 64, 64);
}
.right_content_dashboard #profile_content #left_profile #layer2 button{
    height: 6vh;
    margin-top: 1%;
    width: 30%;
    background-color: #93C1F9;
    border: none;
    font-size: 2vh;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right_content_dashboard #profile_content #left_profile #layer2 button:hover{
    opacity: 70%;
}

.right_content_dashboard #profile_content #right_profile{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.right_content_dashboard #profile_content #right_profile #layer1{
    width: 100%;
    height: 41%;
    border-radius: 10px;
    background-image: url(../../images/date_bg_profile.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.right_content_dashboard #profile_content #right_profile #layer1 #left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.right_content_dashboard #profile_content #right_profile #layer1 #left p{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 10.5vh;
    margin-left: 20%;
    margin-bottom: 13%;
    color: #ffff;
}
.right_content_dashboard #profile_content #right_profile #layer1 #right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 7%;
    margin-bottom: 8%;
}
.right_content_dashboard #profile_content #right_profile #layer1 div #date{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: #ffff;
    font-weight: bold;
}
.right_content_dashboard #profile_content #right_profile #layer1 div #time{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3vh;
    color: #eeeeee;
    font-weight: bold;
}




.right_content_dashboard #profile_content #right_profile #layer1_night{
    width: 100%;
    height: 41%;
    border-radius: 10px;
    background-image: url(../../images/date_bg_profile_night.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    display: none;
    align-items: flex-end;
    justify-content: space-between;
}
.right_content_dashboard #profile_content #right_profile #layer1_night #left{
    width: auto;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.right_content_dashboard #profile_content #right_profile #layer1_night #left p{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 10.5vh;
    margin-left: 20%;
    margin-bottom: 13%;
    color: #ffff;
}
.right_content_dashboard #profile_content #right_profile #layer1_night #right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 7%;
    margin-bottom: 8%;
}
.right_content_dashboard #profile_content #right_profile #layer1_night div #date{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 3vh;
    color: #ffff;
    font-weight: bold;
}
.right_content_dashboard #profile_content #right_profile #layer1_night div #time{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    font-size: 2.3vh;
    color: #b9b9b9;
    font-weight: bold;
}



.right_content_dashboard #profile_content #right_profile #layer2{
    width: 100%;
    height: 56%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right_content_dashboard #profile_content #right_profile #box_1{
    width: 100%;
    height: 17vh;
    background-color: #ffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    display: flex;
}
.right_content_dashboard #profile_content #right_profile #box_1:hover{
    cursor: pointer;
    opacity: 70%;
}
.right_content_dashboard #profile_content #right_profile #box_1 #left{
    height: 100%;
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right_content_dashboard #profile_content #right_profile #box_1 #left img{
    height: 50%;
    width: auto;
}
.right_content_dashboard #profile_content #right_profile #box_1 #right{
    height: 100%;
    width: 68%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.right_content_dashboard #profile_content #right_profile #box_1 #right #text1{
    margin: 0%;
    font-size: 3vh;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    color: #565555;
}
.right_content_dashboard #profile_content #right_profile #box_1 #right #text2{
    margin: 0%;
    margin-top: 1%;
    font-size: 1.9vh;
    font-family: 'Poppins', sans-serif;
    color: #979797;
}


/* Sweet alert */
#sweetalert_container{
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
}
#sweetalert_container #succes_alert{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: auto;
    width: 35%;
    background-color: #ffffff;
    border-radius: 20px;
}
#sweetalert_container #succes_alert #alert_div{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#sweetalert_container #succes_alert #alert_div #gif_alert{
    margin-top: 3%;
    height: 20vh;
    width: auto;
}
#sweetalert_container #succes_alert #alert_div #thankyou{
    margin: 2% 0%;
    font-size: 4vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #1ac8db;
}
#sweetalert_container #succes_alert #alert_div .message_alert{
    margin: 0%;
    font-size: 2.3vh;
    font-family: 'Poppins', sans-serif;
    color: rgb(99, 99, 99);
    width: 80%;
    text-align: center;
}
#sweetalert_container #succes_alert #alert_div #close_alert{
    margin-top: 5%;
    width: 50%;
    padding: 2% 0%;
    font-size: 2vh;
    border: none;
    background-color: #1ac8db;
    font-family: 'Poppins', sans-serif;
    color: #ffff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-bottom: 5%;
}
#sweetalert_container #succes_alert #alert_div #close_alert:hover{
    opacity: 80%;
}






@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 961px){
    .right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div{
        width: 55%;
    }
    .right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #l_text p{
        font-size: 1.8vh;
    }
    .right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #r_text p{
        font-size: 1.8vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 #left p{
        font-size: 7vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #date{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #time{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #right_profile #box_1 #right #text1{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #box_1 #right #text2{
        font-size: 1.9vh;
    }  


    .right_content_dashboard #profile_content #right_profile #layer1_night #left p{
        font-size: 7vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #date{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #time{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container #profile_photo{
        height: 23vh;
        width: 23vh;
        margin-left: 13%;
    }

    .right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container{
        width: 85%;
    }
}   

@media only screen 
and (max-device-width : 1281px) 
and (max-device-height : 721px){
    .right_content_dashboard #profile_content #left_profile #layer2 #inp_cont #container div{
        width: 65%;
    }
    .right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #l_text p{
        font-size: 2.3vh;
    }
    .right_content_dashboard #profile_content #left_profile #layer1 #right_layer1 #r_text p{
        font-size: 2.3vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 #left p{
        font-size: 7vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 #left p{
        font-size: 11.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #date{
        font-size: 3vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #time{
        font-size: 2.2vh;
    }

    .right_content_dashboard #profile_content #right_profile #layer1_night #left p{
        font-size: 11.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #date{
        font-size: 3vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #time{
        font-size: 2.2vh;
    }

    .right_content_dashboard #profile_content #right_profile #box_1 #right #text1{
        font-size: 2.7vh;
    }
    .right_content_dashboard #profile_content #right_profile #box_1 #right #text2{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container #profile_photo{
        height: 25vh;
        width: 25vh;
        margin-left: 0%;
        margin-right: 4%;
    }
}   

@media only screen 
and (max-device-width : 1025px) 
and (max-device-height : 768px){
    .right_content_dashboard #profile_content #right_profile #layer1 #left p{
        font-size: 8vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #date{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1 div #time{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #right_profile #layer1_night #left p{
        font-size: 8vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #date{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #layer1_night div #time{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #right_profile #box_1 #right #text1{
        font-size: 2.5vh;
    }
    .right_content_dashboard #profile_content #right_profile #box_1 #right #text2{
        font-size: 2vh;
    }

    .right_content_dashboard #profile_content #left_profile #layer1 #left_layer1 #img_container #profile_photo{
        height: 24vh;
        width: 24vh;
        margin-left: 15%;
        margin-right: 3%;
    }
}

